<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Django App</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/relative_url_templates.css' %}"
    />
  </head>
  <body>
    <h1>This is Relative URL Templates</h1>
    <a href="{% url 'django_app:help' %}">This will lead to Help Page</a>
    <a href="{% url 'admin:index' %}">This will lead to Admin Page</a>
    {% comment %}
    <a href="{% url 'index' %}">This will lead to Home Page</a>
    {% endcomment %}
  </body>
</html>
